{{define "Service2ApiEndpoint"}}

{{$host := .}}

{
    "endpoint": "/v1/service2",
    "method": "GET",
    "output_encoding": "no-op",
    "extra_config": {},
    "backend": [
        {
            "url_pattern": "/service2",
            "encoding": "no-op",
            "sd": "static",
            "method": "GET",
            "extra_config": {},
            "host": ["{{ $host }}"],
            "disable_host_sanitize": true
        }
    ]
}
{{end}}